/*



*/

/* TOP SIDE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
hr {
  width: 100px;
  margin: 0 auto;
  margin-top: 5px;
}
.header {
  height: 60px;
  display: flex;
  gap: 400px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #dbe4ff;
  margin-bottom: 65px;
  width: 100%;
}
.links {
  display: flex;
  gap: 20px;
}
.name {
  font-weight: 600;
}
.link {
  text-decoration: none;
  color: #212529;
  font-weight: 600;
}
.link:hover {
  border-bottom: 1px solid #dbe4ff;
}
/* MIDDLE SIDE */
.article {
  width: 75%;
  margin: 0 auto;
}
.firstpart {
  margin-bottom: 200px;
}
.aboutme {
  margin-bottom: 100px;
}
.mainheader {
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 60px;
}
.iletisim {
  background-color: #dbe4ff;
  color: black;
  text-decoration: none;
  padding: 12px 26px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
}
.sectionheader {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: #bac8ff;
}
.aboutmecontent {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.aboutmetext {
  font-size: 18px;
  line-height: 1.3;
}
.icon {
  margin-top: 20px;
  width: 35px;
  height: 35px;
}
.icon:hover {
  cursor: pointer;
}
.myself {
  border-radius: 12px;
}
.skillscontent {
  margin-top: 50px;
  display: flex;
}
.skillscontainer {
  width: 85%;
  background-color: #edf2ff;
  margin-bottom: 10px;
  border-radius: 12px;
}

.skills {
  padding: 10px;
  color: black;
  border-radius: 12px;
}
.skillstext {
  width: 50%;
}
.skillsimg {
  width: 50%;
  border-radius: 6px;
  height: 200px;
}
.html {
  width: 90%;
  background-color: #91a7ff;
  display: flex;
  justify-content: space-between;
}
.css {
  width: 80%;
  background-color: #91a7ff;
  display: flex;
  justify-content: space-between;
}
.js {
  width: 65%;
  background-color: #91a7ff;
  display: flex;
  justify-content: space-between;
}
.iletisimsection {
  margin-top: 100px;
}
#fcf-form {
  display: block;
}

.fcf-body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size],
select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #dbe4ff;
  border-color: #dbe4ff;
  font-weight: bold;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #5c7cfa;
  border-color: #5c7cfa;
}

.fcf-btn-primary:focus,
.fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg,
.fcf-btn-group-lg > .fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block + .fcf-btn-block {
  margin-top: 0.5rem;
}
footer {
  background-color: black;
  height: 60px;
  padding-top: 10px;
}
.footertext {
  color: white;
  text-align: center;
  font-size: 10px;
}
.footername {
  font-size: 20px;
  margin-bottom: 4px;
}
#targetanasayfa {
  opacity: 0;
  transition: opacity 3s; /* 1 saniyelik geçiş efekti */
}
